extends ../layouts/manager

block panel
  #competition_content(ng-app='group' ng-controller='competitionController' ng-init="ngcompetition = #{JSON.stringify(competition)}")
    .row
      .teamInfo.col-xs-4
        img.teamLogo(src='/img/icons/facebook.png')
        div
          a.teamName= competition.camp_b.tname
        div
          img.size_50.teamMember(ng-repeat='teamAMember in ngcompetition.camp_a.member' formatdrag="true" src='/img/icons/facebook.png' id='{{teamAMember.username}}')
      .vs.col-xs-4
        h1.text-center vs
      .teamInfo.col-xs-4
        img.teamLogo(src='/img/icons/google.png')
        div
          a.teamName= competition.camp_b.tname
        div
          img.size_50.teamMember(ng-repeat='teamBMember in ngcompetition.camp_b.member' draggable="false" src='/img/icons/google.png' id='{{teamBMember.username}}')
    .row.formatField.field
      img#formatField.col-xs-12.img_contain.field(draggable="false" formatdrop="true"  src='/img/field.png')
      img.size_50.teamMember.onemberA(ng-repeat='teamAMember in ngcompetition.camp_a.formation' formatdrag="true" src='/img/icons/facebook.png' id='on_{{teamAMember.username}}' style='top:{{teamAMember.y}}%;left:{{teamAMember.x}}%')
      img.size_50.teamMember.onemberB(ng-repeat='teamBMember in ngcompetition.camp_b.formation' draggable="false" src='/img/icons/google.png' id='on_{{teamBMember.username}}' style='top:{{teamBMember.y}}%;left:{{teamBMember.x}}%')
block aside
  .infoHead.row
    h4.pull-left 活动简介
  hr
  .row
    label.col-xs-4.control-label 类型：
    label.col-xs-8.control-label= competition.group_type
  .row
    label.col-xs-4.control-label 赛制：
    label.col-xs-8.control-label= competition.brief.number
  .row
    label.col-xs-4.control-label 人数：7
    label.col-xs-8.control-label= competition.brief.competition_format
  .row
    label.col-xs-4.control-label 场地：
    label.col-xs-8.control-label= competition.brief.location
  .row
    label.col-xs-4.control-label 应战截止时间：
    label.col-xs-8.control-label= competition.brief.deadline.toLocaleDateString()
  .row
    label.col-xs-4.control-label 活动时间：
    label.col-xs-8.control-label= competition.brief.competition_date.toLocaleDateString()
  .row
    label.col-xs-4.control-label 备注：
    label.col-xs-8.control-label= competition.brief.remark
  hr
  .infoHead.row
    h4.pull-left 活动地点
  hr
  .infoHead.row
    h4.pull-left 活动精彩照片
append footExt
    script(src="/js/controllers/group.js")